body{
    /*background-color:bisque;*/
 
     background-image: url("https://www.iagua.es/sites/default/files/densidad-del-agua.jpg");
     background-repeat: no-repeat;
 background-size: cover;
 }




 